* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(226, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.pokemon-card {
  border-radius: 12px;
  margin: 10px;
  width: 200px;
  height: 150px;
  text-align: center;
  overflow: hidden;
  font-family: sans-serif;
}

.pokemon-card img {
  max-height: 100px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}