* {
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(226, 66, 66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1em 0;
}

.type-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 6px 10px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.type-button:hover {
  background: #ffffff;
}

.type-button img {
  width: 20px;
  height: 20px;
}

.aimg {
  all: unset !important;
}