* {
    padding: 0px;
    margin: 0px;
}

:root {
    --blue: #007bff;
    --light-blue: #66b2ff;
    --dark-blue: #0056b3;

    --yellow: #ffc107;
    --light-yellow: #ffdd57;
    --dark-yellow: #be8f00;

    --red: #dc3545;
    --light-red: #ff6b6f;
    --dark-red: #a71d2a;

    --green: #28a745;
    --light-green: #6fdc8c;
    --dark-green: #19692c;
}

a {
    text-decoration: none;
}

.divbtn {
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 20px;
}

.divbtn button {
    max-width: 500px;
    padding: 25px 0px 25px 20px;
    border-radius: 10px;
    width: calc(100vw / 2 - 20px);
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 70px;
    position: relative;
    overflow: hidden;
}

.divbtn button::before {
    opacity: 0.4;
    content: "";
    position: absolute;
    top: -15%;
    right: -20px;
    width: 90px;
    height: 90px;
    background-image: url(../Pokebola.svg);
    background-size: 100%;
}

.mapas::before {
    opacity: 0.6 !important;
    content: "";
    position: absolute;
    top: -15%;
    right: -20px;
    width: 90px;
    height: 90px;
    background-image: url(../Pokebola.svg);
    background-size: 100%;
}

.pokedex {
    background-color: var(--light-blue);
}

.itens {
    background-color: var(--light-green);
}

.badges {
    background-color: var(--light-red);
}

.mapas {
    background-color: var(--light-yellow);
}

.formsearch {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.formsearch input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin-left: 10px;
    outline: none;
}

.formsearch {
    font-size: 20px;
}

h1 {
    margin: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}